In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import warnings
%matplotlib inline

In [2]:
test=pd.read_csv('result_good_finish.csv')
ctest = test.copy()

In [3]:
ctest.info

<bound method DataFrame.info of           Id  DistrictId  Rooms      Square  LifeSquare  KitchenSquare  Floor  \
0        725          58    2.0   49.882643   33.432782            6.0      6
1      15856          74    2.0   69.263183         NaN            1.0      6
2       5480         190    1.0   13.597819   15.948246           12.0      2
3      15664          47    2.0   73.046609   51.940842            9.0     22
4      14275          27    1.0   47.527111   43.387569            1.0     17
5       7633          53    1.0   40.675627         NaN            1.0     21
6      13329          23    2.0   68.099538   64.843025            1.0      2
7       5502          32    2.0   48.193897   32.857644            6.0      5
8       4220          96    3.0   72.277106   45.968758            9.0     17
9      11538           6    3.0   80.219400   47.660260            9.0     13
10     15975          61    3.0   64.543658   42.651541            7.0     10
11      3310           6    3.0   84.625350         NaN            1.0      6
12      9286           3    1.0   34.743457   19.772110            6.0      5
13     11260          46    2.0   46.813776   31.883008            5.0      4
14      5214          27    1.0   37.555197         NaN            1.0      5
15     11307          41    1.0   42.267225   21.465927            9.0      7
16     13543         167    3.0   80.220720   51.687097            7.0      5
17       615          90    1.0   40.596833   21.245197            8.0     14
18      3495          27    3.0   82.652818    5.690155            1.0      4
19      2321          57    2.0   53.952634   33.506643            9.0      5
20     12046          46    1.0   38.409202   21.629841            9.0     12
21     16688           1    1.0   44.878767         NaN            1.0      1
22     12694          27    3.0   83.670032   46.358356            0.0      8
23       783          61    1.0   34.236032   18.477327            5.0      5
24      8968          27    2.0   69.849239         NaN            0.0      3
25     13454          11    2.0   44.487951   31.249479            5.0      3
26     12190          62    3.0   65.287328   43.399473            6.0      4
27     11160          58    1.0   48.610661   48.752502            1.0      4
28     10291          32    1.0   39.135254   20.144385            9.0      3
29       891          85    2.0   65.550690   61.689280           10.0     13
...      ...         ...    ...         ...         ...            ...    ...
14967   1612          84    3.0   53.430413   34.603687            6.0      8
14968  16050          67    2.0   58.629682   36.330029            9.0     19
14969   6097           6    3.0   82.147338         NaN            1.0     17
14970  12590         115    2.0   48.201451   33.396431            8.0     15
14971   2159          30    1.0   33.227093   32.639166            1.0      4
14972   5071          27    2.0   60.055527         NaN           12.0     16
14973   3621          22    2.0   58.853794         NaN            1.0     10
14974  10650          54    2.0   38.599779   22.740244            6.0      2
14975  13725           1    2.0   67.510526         NaN            1.0     10
14976  12758          64    2.0   56.203601   34.292901            8.0     13
14977  15654          10    2.0   49.975125   32.786612            6.0      5
14978  13352          77    2.0   53.537800   30.979054            8.0     10
14979  12805           8    1.0   39.195153   22.158768            9.0     12
14980   2705           6    2.0   64.311707   61.920700            1.0     12
14981   2237          52    3.0   64.074977   47.633428            6.0     11
14982  16159          27    1.0   38.968338         NaN            1.0     10
14983   2996           1    2.0   64.994245         NaN            1.0      9
14984  15623          23    2.0   55.620092         NaN            0.0      2
14985  14025          53    2.0   54.167124   33.766477            8.0      5
14986   4145          96    3.0   90.055233   47.860231           11.0     26
14987  15233           1    3.0   57.373889   39.688445            5.0      2
14988  11553           3    3.0  101.622794   51.628780           12.0     18
14989  14333         150    3.0   78.249637   49.385096           10.0      5
14990     48          13    3.0   80.631333   48.899083           10.0     11
14991   4158          23    2.0   64.864198         NaN            1.0     17
14992     77          32    2.0   50.401785   30.476203            5.0      6
14993   6159          18    1.0   41.521546   20.539216            9.0     13
14994   5123          27    1.0   47.939008         NaN            1.0     12
14995   5400          75    2.0   43.602562   33.840147            8.0      1
14996   6306         128    1.0   38.666645   21.157874            8.0      7

       HouseFloor  HouseYear     Ecology_1 Ecology_2 Ecology_3  Social_1  \
0            14.0       1972  3.101991e-01         B         B        11
1             6.0       1977  7.577876e-02         B         B         6
2             5.0       1909  0.000000e+00         B         B        30
3            22.0       2007  1.018725e-01         B         B        23
4            17.0       2017  7.215758e-02         B         B         2
5            21.0       1977  4.963726e-02         B         B        34
6            17.0       1977  7.577876e-02         B         B         6
7            14.0       1972  1.356498e-01         B         B        46
8            17.0       1997  4.111635e-02         B         B        53
9            17.0       2014  2.432045e-01         B         B         5
10           10.0       1981  3.003225e-01         B         B        52
11           17.0       1977  2.432045e-01         B         B         5
12            9.0       1971  2.650887e-01         B         B        37
13            5.0       1968  0.000000e+00         B         B        47
14            5.0       1977  2.114012e-01         B         B         9
15           14.0       1974  3.612229e-02         B         B        24
16            5.0       1959  5.027201e-02         B         B        21
17           15.0       1976  2.650887e-01         B         B        37
18           17.0       2015  7.215758e-02         B         B         2
19           14.0       2004  9.079910e-02         B         B        74
20           22.0       2000  1.887838e-01         B         B        31
21            9.0       1977  7.122317e-03         B         B         1
22            8.0       2015  7.215758e-02         B         B         2
23            5.0       1970  2.982046e-01         B         B        16
24            3.0       1977  1.165413e-02         B         B         4
25            5.0       1964  3.869299e-02         B         B        28
26           12.0       1975  2.211665e-03         B         B        39
27            4.0       1977  4.378852e-01         B         B        23
28           14.0       1975  1.356498e-01         B         B        46
29           22.0       1988  3.717782e-02         B         B        52
...           ...        ...           ...       ...       ...       ...
14967         9.0       1970  1.496664e-01         B         B        22
14968        19.0       1989  1.004557e-01         B         B        43
14969        17.0       1977  2.432045e-01         B         B         5
14970        15.0       1972  1.800000e-09         B         B        16
14971         4.0       2016  7.815280e-05         B         B        22
14972        16.0       1977  7.215758e-02         B         B         2
14973        17.0       1977  1.185374e-01         B         B        30
14974        12.0       1970  6.076152e-03         B         B        30
14975        17.0       1977  7.122317e-03         B         B         1
14976        17.0       1988  1.356498e-01         B         B        46
14977         9.0       1972  2.827977e-01         B         B        33
14978        12.0       1977  6.998930e-05         B         B        46
14979        12.0       1968  4.378852e-01         B         B        23
14980        17.0       2015  2.432045e-01         B         B         5
14981        11.0       1983  3.711490e-01         B         B        34
14982        10.0       1977  2.114012e-01         B         B         9
14983        22.0       1977  7.122317e-03         B         B         1
14984         4.0       1977  3.465608e-02         B         B         0
14985        23.0       1987  4.963726e-02         B         B        34
14986        26.0       2005  4.111635e-02         B         B        53
14987         5.0       1962  3.627009e-02         B         B         6
14988        18.0       2000  2.650887e-01         B         B        37
14989        16.0       1976  3.003225e-01         B         B        52
14990        14.0       1999  9.079910e-02         B         B        74
14991        17.0       1977  7.577876e-02         B         B         6
14992         6.0       1968  1.356498e-01         B         B        46
14993        13.0       2000  0.000000e+00         B         B        30
14994        16.0       2015  7.215758e-02         B         B         2
14995         5.0       1961  3.074667e-01         B         A        30
14996        17.0       1990  0.000000e+00         B         B        27

       Social_2  Social_3  Healthcare_1  Helthcare_2  Shops_1 Shops_2  \
0          2748         1           NaN            0        0       B
1          1437         3           NaN            0        2       B
2          7538        87        4702.0            5        5       B
3          4583         3           NaN            3        3       B
4           629         1           NaN            0        0       A
5          7759         0         229.0            1        3       B
6          1437         3           NaN            0        2       B
7          7960         6         350.0            3       11       B
8         14892         4           NaN            1        4       B
9          1564         0         540.0            0        0       B
10        10311         6           NaN            1        9       B
11         1564         0         540.0            0        0       B
12         5288         0        1937.0            3        2       B
13        11319         0        1145.0            3        5       B
14         1892         0           NaN            0        1       B
15         4378         0        1036.0            1        1       B
16         4231        14        1020.0            0        3       B
17         5288         0        1937.0            3        2       B
18          629         1           NaN            0        0       A
19        19083         2           NaN            5       15       B
20         6137         4           NaN            0        1       B
21          264         0           NaN            0        1       B
22          629         1           NaN            0        0       A
23         4048         3           NaN            1        3       B
24          915         0           NaN            0        0       B
25         6533         1        1015.0            2        5       B
26         7614         3           NaN            1        5       A
27         5735         3        1084.0            0        5       B
28         7960         6         350.0            3       11       B
29        11217         1        2300.0            1        7       B
...         ...       ...           ...          ...      ...     ...
14967      4789         2        4087.0            4        1       B
14968      7227         0           NaN            1        6       A
14969      1564         0         540.0            0        0       B
14970      3681        73        1815.0            2        5       B
14971      6398       141        1046.0            3       23       B
14972       629         1           NaN            0        0       A
14973      6207         1        1183.0            1        0       B
14974      5285         0         645.0            6        6       B
14975       264         0           NaN            0        1       B
14976      7960         6         350.0            3       11       B
14977      8667         2           NaN            0        6       B
14978     10309         1         240.0            1       16       B
14979      5735         3        1084.0            0        5       B
14980      1564         0         540.0            0        0       B
14981      7065         1         750.0            2        5       B
14982      1892         0           NaN            0        1       B
14983       264         0           NaN            0        1       B
14984       168         0           NaN            0        0       B
14985      7759         0         229.0            1        3       B
14986     14892         4           NaN            1        4       B
14987      1318         1         200.0            1        1       B
14988      5288         0        1937.0            3        2       B
14989     10311         6           NaN            1        9       B
14990     19083         2           NaN            5       15       B
14991      1437         3           NaN            0        2       B
14992      7960         6         350.0            3       11       B
14993      5562         0           NaN            0        5       A
14994       629         1           NaN            0        0       A
14995      5048         9         325.0            2        5       B
14996      4798         0          30.0            2        8       B

               Price
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN
17               NaN
18               NaN
19               NaN
20               NaN
21               NaN
22               NaN
23               NaN
24               NaN
25               NaN
26               NaN
27               NaN
28               NaN
29               NaN
...              ...
14967  220804.817110
14968  228845.682509
14969  222068.370598
14970  197405.312185
14971   65949.315881
14972  190325.071232
14973  175229.645872
14974  174497.101781
14975  185996.664227
14976  339230.931543
14977  203000.197806
14978  242356.408174
14979  177449.715863
14980  164356.212221
14981  226434.880156
14982   95529.569405
14983  200332.511658
14984  115797.553006
14985  261095.834383
14986  441108.911237
14987  163807.542987
14988  212883.501504
14989  342418.758888
14990  350684.628560
14991  171323.515653
14992  196684.316040
14993  189050.289571
14994  159143.805370
14995  181595.339808
14996  218714.077615

[14997 rows x 20 columns]>

In [4]:
#делаем столбцы из DistrictId
ctest = pd.get_dummies(ctest, columns = ['DistrictId'])

In [5]:
#делаем столбцы из Ecology_2
ctest = pd.get_dummies(ctest, columns = ['Ecology_2'])

In [6]:
#делаем столбцы из Ecology_3
newtest = pd.get_dummies(ctest, columns = ['Ecology_3'])

In [7]:
#делаем столбцы из 'Shops_2'
newtest = pd.get_dummies(ctest, columns = ['Shops_2'])

In [8]:
newtest.describe()

,Id,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,DistrictId_207,DistrictId_208,DistrictId_209,DistrictId_210,DistrictId_211,DistrictId_212,Ecology_2_A,Ecology_2_B,Shops_2_A,Shops_2_B
count,14997.000000,14997.000000,14997.000000,11844.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,...,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000
mean,8393.886577,1.894045,56.261256,36.039139,5.868640,8.560779,13.396879,1984.704341,0.119193,24.769354,...,0.000067,0.000200,0.000200,0.000067,0.000067,0.000067,0.009669,0.990331,0.082483,0.917517
std,4849.790271,0.813113,19.132390,17.628038,5.069793,5.322250,5.960659,18.464363,0.119375,17.534014,...,0.008166,0.014143,0.014143,0.008166,0.008166,0.008166,0.097856,0.097856,0.275109,0.275109
min,0.000000,0.000000,1.136859,0.136859,0.000000,1.000000,1.000000,1908.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4190.000000,1.000000,41.812188,22.880312,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,8379.000000,2.000000,52.644099,32.811863,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,12595.000000,2.000000,66.027832,45.103691,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,16798.000000,6.000000,275.645284,233.949309,123.000000,78.000000,78.000000,2020.000000,0.521867,74.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
#Выскребаем столбцы
all_feature_names=newtest.columns.tolist()
all_feature_names

['Id',
 'Rooms',
 'Square',
 'LifeSquare',
 'KitchenSquare',
 'Floor',
 'HouseFloor',
 'HouseYear',
 'Ecology_1',
 'Ecology_3',
 'Social_1',
 'Social_2',
 'Social_3',
 'Healthcare_1',
 'Helthcare_2',
 'Shops_1',
 'Price',
 'DistrictId_0',
 'DistrictId_1',
 'DistrictId_2',
 'DistrictId_3',
 'DistrictId_4',
 'DistrictId_5',
 'DistrictId_6',
 'DistrictId_7',
 'DistrictId_8',
 'DistrictId_9',
 'DistrictId_10',
 'DistrictId_11',
 'DistrictId_12',
 'DistrictId_13',
 'DistrictId_14',
 'DistrictId_15',
 'DistrictId_16',
 'DistrictId_17',
 'DistrictId_18',
 'DistrictId_19',
 'DistrictId_20',
 'DistrictId_21',
 'DistrictId_22',
 'DistrictId_23',
 'DistrictId_24',
 'DistrictId_25',
 'DistrictId_26',
 'DistrictId_27',
 'DistrictId_28',
 'DistrictId_29',
 'DistrictId_30',
 'DistrictId_31',
 'DistrictId_32',
 'DistrictId_33',
 'DistrictId_34',
 'DistrictId_35',
 'DistrictId_36',
 'DistrictId_37',
 'DistrictId_38',
 'DistrictId_39',
 'DistrictId_40',
 'DistrictId_41',
 'DistrictId_42',
 'DistrictId_43',
 'DistrictId_44',
 'DistrictId_45',
 'DistrictId_46',
 'DistrictId_47',
 'DistrictId_48',
 'DistrictId_49',
 'DistrictId_50',
 'DistrictId_51',
 'DistrictId_52',
 'DistrictId_53',
 'DistrictId_54',
 'DistrictId_55',
 'DistrictId_56',
 'DistrictId_57',
 'DistrictId_58',
 'DistrictId_59',
 'DistrictId_60',
 'DistrictId_61',
 'DistrictId_62',
 'DistrictId_63',
 'DistrictId_64',
 'DistrictId_65',
 'DistrictId_66',
 'DistrictId_67',
 'DistrictId_68',
 'DistrictId_69',
 'DistrictId_70',
 'DistrictId_71',
 'DistrictId_72',
 'DistrictId_73',
 'DistrictId_74',
 'DistrictId_75',
 'DistrictId_76',
 'DistrictId_77',
 'DistrictId_78',
 'DistrictId_79',
 'DistrictId_80',
 'DistrictId_81',
 'DistrictId_82',
 'DistrictId_83',
 'DistrictId_84',
 'DistrictId_85',
 'DistrictId_86',
 'DistrictId_87',
 'DistrictId_88',
 'DistrictId_89',
 'DistrictId_90',
 'DistrictId_91',
 'DistrictId_92',
 'DistrictId_93',
 'DistrictId_94',
 'DistrictId_95',
 'DistrictId_96',
 'DistrictId_97',
 'DistrictId_98',
 'DistrictId_99',
 'DistrictId_100',
 'DistrictId_101',
 'DistrictId_102',
 'DistrictId_103',
 'DistrictId_104',
 'DistrictId_105',
 'DistrictId_106',
 'DistrictId_107',
 'DistrictId_108',
 'DistrictId_109',
 'DistrictId_110',
 'DistrictId_111',
 'DistrictId_112',
 'DistrictId_113',
 'DistrictId_114',
 'DistrictId_115',
 'DistrictId_116',
 'DistrictId_117',
 'DistrictId_118',
 'DistrictId_119',
 'DistrictId_120',
 'DistrictId_121',
 'DistrictId_122',
 'DistrictId_123',
 'DistrictId_124',
 'DistrictId_125',
 'DistrictId_126',
 'DistrictId_127',
 'DistrictId_128',
 'DistrictId_129',
 'DistrictId_130',
 'DistrictId_131',
 'DistrictId_132',
 'DistrictId_133',
 'DistrictId_134',
 'DistrictId_135',
 'DistrictId_136',
 'DistrictId_137',
 'DistrictId_138',
 'DistrictId_139',
 'DistrictId_140',
 'DistrictId_141',
 'DistrictId_142',
 'DistrictId_143',
 'DistrictId_144',
 'DistrictId_145',
 'DistrictId_146',
 'DistrictId_147',
 'DistrictId_148',
 'DistrictId_149',
 'DistrictId_150',
 'DistrictId_151',
 'DistrictId_152',
 'DistrictId_153',
 'DistrictId_154',
 'DistrictId_155',
 'DistrictId_156',
 'DistrictId_157',
 'DistrictId_158',
 'DistrictId_159',
 'DistrictId_160',
 'DistrictId_161',
 'DistrictId_162',
 'DistrictId_163',
 'DistrictId_164',
 'DistrictId_165',
 'DistrictId_166',
 'DistrictId_167',
 'DistrictId_168',
 'DistrictId_169',
 'DistrictId_170',
 'DistrictId_171',
 'DistrictId_172',
 'DistrictId_173',
 'DistrictId_174',
 'DistrictId_175',
 'DistrictId_176',
 'DistrictId_177',
 'DistrictId_178',
 'DistrictId_179',
 'DistrictId_180',
 'DistrictId_181',
 'DistrictId_182',
 'DistrictId_183',
 'DistrictId_184',
 'DistrictId_185',
 'DistrictId_186',
 'DistrictId_187',
 'DistrictId_188',
 'DistrictId_189',
 'DistrictId_190',
 'DistrictId_191',
 'DistrictId_192',
 'DistrictId_193',
 'DistrictId_194',
 'DistrictId_195',
 'DistrictId_196',
 'DistrictId_198',
 'DistrictId_199',
 'DistrictId_200',
 'DistrictId_201',
 'DistrictId_202',
 'DistrictId_203',
 'DistrictId_204',
 'DistrictId_205',
 'DistrictId_206',
 'DistrictId_207',
 'DistrictId_208',
 'DistrictId_209',
 'DistrictId_210',
 'DistrictId_211',
 'DistrictId_212',
 'Ecology_2_A',
 'Ecology_2_B',
 'Shops_2_A',
 'Shops_2_B']

In [25]:
#Определяем поля, которые надо оставить:

feature_names = ['Id','Price',
 'Rooms',
 'Square',
 'LifeSquare',
 'KitchenSquare',
 'Floor',
 'HouseFloor',
 'HouseYear',
 'Social_1',
 'Social_2',
 'Social_3',
 'Healthcare_1',
 'Helthcare_2',
 'Shops_1',
 'Shops_2',
 'DistrictId_0',
 'DistrictId_1',
 'DistrictId_2',
 'DistrictId_3',
 'DistrictId_4',
 'DistrictId_5',
 'DistrictId_6',
 'DistrictId_7',
 'DistrictId_8',
 'DistrictId_9',
 'DistrictId_10',
 'DistrictId_11',
 'DistrictId_12',
 'DistrictId_13',
 'DistrictId_14',
 'DistrictId_15',
 'DistrictId_16',
 'DistrictId_17',
 'DistrictId_18',
 'DistrictId_19',
 'DistrictId_20',
 'DistrictId_21',
 'DistrictId_22',
 'DistrictId_23',
 'DistrictId_24',
 'DistrictId_25',
 'DistrictId_26',
 'DistrictId_27',
 'DistrictId_28',
 'DistrictId_29',
 'DistrictId_30',
 'DistrictId_31',
 'DistrictId_32',
 'DistrictId_33',
 'DistrictId_34',
 'DistrictId_35',
 'DistrictId_36',
 'DistrictId_37',
 'DistrictId_38',
 'DistrictId_39',
 'DistrictId_40',
 'DistrictId_41',
 'DistrictId_42',
 'DistrictId_43',
 'DistrictId_44',
 'DistrictId_45',
 'DistrictId_46',
 'DistrictId_47',
 'DistrictId_48',
 'DistrictId_49',
 'DistrictId_50',
 'DistrictId_51',
 'DistrictId_52',
 'DistrictId_53',
 'DistrictId_54',
 'DistrictId_55',
 'DistrictId_56',
 'DistrictId_57',
 'DistrictId_58',
 'DistrictId_59',
 'DistrictId_60',
 'DistrictId_61',
 'DistrictId_62',
 'DistrictId_63',
 'DistrictId_64',
 'DistrictId_65',
 'DistrictId_66',
 'DistrictId_67',
 'DistrictId_68',
 'DistrictId_69',
 'DistrictId_70',
 'DistrictId_71',
 'DistrictId_72',
 'DistrictId_73',
 'DistrictId_74',
 'DistrictId_75',
 'DistrictId_76',
 'DistrictId_77',
 'DistrictId_78',
 'DistrictId_79',
 'DistrictId_80',
 'DistrictId_81',
 'DistrictId_82',
 'DistrictId_83',
 'DistrictId_84',
 'DistrictId_85',
 'DistrictId_86',
 'DistrictId_87',
 'DistrictId_88',
 'DistrictId_89',
 'DistrictId_90',
 'DistrictId_91',
 'DistrictId_92',
 'DistrictId_93',
 'DistrictId_94',
 'DistrictId_95',
 'DistrictId_96',
 'DistrictId_97',
 'DistrictId_98',
 'DistrictId_99',
 'DistrictId_100',
 'DistrictId_101',
 'DistrictId_102',
 'DistrictId_103',
 'DistrictId_104',
 'DistrictId_105',
 'DistrictId_106',
 'DistrictId_107',
 'DistrictId_108',
 'DistrictId_109',
 'DistrictId_110',
 'DistrictId_111',
 'DistrictId_112',
 'DistrictId_113',
 'DistrictId_114',
 'DistrictId_115',
 'DistrictId_116',
 'DistrictId_117',
 'DistrictId_118',
 'DistrictId_119',
 'DistrictId_120',
 'DistrictId_121',
 'DistrictId_122',
 'DistrictId_123',
 'DistrictId_124',
 'DistrictId_125',
 'DistrictId_126',
 'DistrictId_127',
 'DistrictId_128',
 'DistrictId_129',
 'DistrictId_130',
 'DistrictId_131',
 'DistrictId_132',
 'DistrictId_133',
 'DistrictId_134',
 'DistrictId_135',
 'DistrictId_136',
 'DistrictId_137',
 'DistrictId_138',
 'DistrictId_139',
 'DistrictId_140',
 'DistrictId_141',
 'DistrictId_142',
 'DistrictId_143',
 'DistrictId_144',
 'DistrictId_145',
 'DistrictId_146',
 'DistrictId_147',
 'DistrictId_148',
 'DistrictId_149',
 'DistrictId_150',
 'DistrictId_151',
 'DistrictId_152',
 'DistrictId_153',
 'DistrictId_154',
 'DistrictId_155',
 'DistrictId_156',
 'DistrictId_157',
 'DistrictId_158',
 'DistrictId_159',
 'DistrictId_160',
 'DistrictId_161',
 'DistrictId_162',
 'DistrictId_163',
 'DistrictId_164',
 'DistrictId_165',
 'DistrictId_166',
 'DistrictId_167',
 'DistrictId_168',
 'DistrictId_169',
 'DistrictId_170',
 'DistrictId_171',
 'DistrictId_172',
 'DistrictId_173',
 'DistrictId_174',
 'DistrictId_175',
 'DistrictId_176',
 'DistrictId_177',
 'DistrictId_178',
 'DistrictId_179',
 'DistrictId_180',
 'DistrictId_181',
 'DistrictId_182',
 'DistrictId_183',
 'DistrictId_184',
 'DistrictId_185',
 'DistrictId_186',
 'DistrictId_187',
 'DistrictId_188',
 'DistrictId_189',
 'DistrictId_190',
 'DistrictId_191',
 'DistrictId_192',
 'DistrictId_193',
 'DistrictId_194',
 'DistrictId_195',
 'DistrictId_196',
 'DistrictId_198',
 'DistrictId_199',
 'DistrictId_200',
 'DistrictId_201',
 'DistrictId_202',
 'DistrictId_203',
 'DistrictId_204',
 'DistrictId_205',
 'DistrictId_206',
 'DistrictId_207',
 'DistrictId_208',
 'DistrictId_209',
 'DistrictId_210',
 'DistrictId_211',
 'DistrictId_212',
 'Ecology_2_A',
 'Ecology_2_B',
 'Ecology_3_A',
 'Ecology_3_B']
#['Rooms','Square','LifeSquare','KitchenSquare','Floor','HouseFloor','HouseYear','Price']
#['Rooms','Square','LifeSquare','KitchenSquare','Floor','HouseFloor','HouseYear']
#feats01 = ['Rooms','Square','LifeSquare','KitchenSquare','Floor','HouseFloor','HouseYear','Price']
#feats0 = ['Rooms','Square','Price']
#feats1 = ['Rooms','Square']
#feats2 = ['Price']
feature_names_no_pr = ['Id',
 'Rooms',
 'Square',
 'LifeSquare',
 'KitchenSquare',
 'Floor',
 'HouseFloor',
 'HouseYear',
 'Social_1',
 'Social_2',
 'Social_3',
 'Healthcare_1',
 'Helthcare_2',
 'Shops_1',
 'Shops_2',
 'DistrictId_0',
 'DistrictId_1',
 'DistrictId_2',
 'DistrictId_3',
 'DistrictId_4',
 'DistrictId_5',
 'DistrictId_6',
 'DistrictId_7',
 'DistrictId_8',
 'DistrictId_9',
 'DistrictId_10',
 'DistrictId_11',
 'DistrictId_12',
 'DistrictId_13',
 'DistrictId_14',
 'DistrictId_15',
 'DistrictId_16',
 'DistrictId_17',
 'DistrictId_18',
 'DistrictId_19',
 'DistrictId_20',
 'DistrictId_21',
 'DistrictId_22',
 'DistrictId_23',
 'DistrictId_24',
 'DistrictId_25',
 'DistrictId_26',
 'DistrictId_27',
 'DistrictId_28',
 'DistrictId_29',
 'DistrictId_30',
 'DistrictId_31',
 'DistrictId_32',
 'DistrictId_33',
 'DistrictId_34',
 'DistrictId_35',
 'DistrictId_36',
 'DistrictId_37',
 'DistrictId_38',
 'DistrictId_39',
 'DistrictId_40',
 'DistrictId_41',
 'DistrictId_42',
 'DistrictId_43',
 'DistrictId_44',
 'DistrictId_45',
 'DistrictId_46',
 'DistrictId_47',
 'DistrictId_48',
 'DistrictId_49',
 'DistrictId_50',
 'DistrictId_51',
 'DistrictId_52',
 'DistrictId_53',
 'DistrictId_54',
 'DistrictId_55',
 'DistrictId_56',
 'DistrictId_57',
 'DistrictId_58',
 'DistrictId_59',
 'DistrictId_60',
 'DistrictId_61',
 'DistrictId_62',
 'DistrictId_63',
 'DistrictId_64',
 'DistrictId_65',
 'DistrictId_66',
 'DistrictId_67',
 'DistrictId_68',
 'DistrictId_69',
 'DistrictId_70',
 'DistrictId_71',
 'DistrictId_72',
 'DistrictId_73',
 'DistrictId_74',
 'DistrictId_75',
 'DistrictId_76',
 'DistrictId_77',
 'DistrictId_78',
 'DistrictId_79',
 'DistrictId_80',
 'DistrictId_81',
 'DistrictId_82',
 'DistrictId_83',
 'DistrictId_84',
 'DistrictId_85',
 'DistrictId_86',
 'DistrictId_87',
 'DistrictId_88',
 'DistrictId_89',
 'DistrictId_90',
 'DistrictId_91',
 'DistrictId_92',
 'DistrictId_93',
 'DistrictId_94',
 'DistrictId_95',
 'DistrictId_96',
 'DistrictId_97',
 'DistrictId_98',
 'DistrictId_99',
 'DistrictId_100',
 'DistrictId_101',
 'DistrictId_102',
 'DistrictId_103',
 'DistrictId_104',
 'DistrictId_105',
 'DistrictId_106',
 'DistrictId_107',
 'DistrictId_108',
 'DistrictId_109',
 'DistrictId_110',
 'DistrictId_111',
 'DistrictId_112',
 'DistrictId_113',
 'DistrictId_114',
 'DistrictId_115',
 'DistrictId_116',
 'DistrictId_117',
 'DistrictId_118',
 'DistrictId_119',
 'DistrictId_120',
 'DistrictId_121',
 'DistrictId_122',
 'DistrictId_123',
 'DistrictId_124',
 'DistrictId_125',
 'DistrictId_126',
 'DistrictId_127',
 'DistrictId_128',
 'DistrictId_129',
 'DistrictId_130',
 'DistrictId_131',
 'DistrictId_132',
 'DistrictId_133',
 'DistrictId_134',
 'DistrictId_135',
 'DistrictId_136',
 'DistrictId_137',
 'DistrictId_138',
 'DistrictId_139',
 'DistrictId_140',
 'DistrictId_141',
 'DistrictId_142',
 'DistrictId_143',
 'DistrictId_144',
 'DistrictId_145',
 'DistrictId_146',
 'DistrictId_147',
 'DistrictId_148',
 'DistrictId_149',
 'DistrictId_150',
 'DistrictId_151',
 'DistrictId_152',
 'DistrictId_153',
 'DistrictId_154',
 'DistrictId_155',
 'DistrictId_156',
 'DistrictId_157',
 'DistrictId_158',
 'DistrictId_159',
 'DistrictId_160',
 'DistrictId_161',
 'DistrictId_162',
 'DistrictId_163',
 'DistrictId_164',
 'DistrictId_165',
 'DistrictId_166',
 'DistrictId_167',
 'DistrictId_168',
 'DistrictId_169',
 'DistrictId_170',
 'DistrictId_171',
 'DistrictId_172',
 'DistrictId_173',
 'DistrictId_174',
 'DistrictId_175',
 'DistrictId_176',
 'DistrictId_177',
 'DistrictId_178',
 'DistrictId_179',
 'DistrictId_180',
 'DistrictId_181',
 'DistrictId_182',
 'DistrictId_183',
 'DistrictId_184',
 'DistrictId_185',
 'DistrictId_186',
 'DistrictId_187',
 'DistrictId_188',
 'DistrictId_189',
 'DistrictId_190',
 'DistrictId_191',
 'DistrictId_192',
 'DistrictId_193',
 'DistrictId_194',
 'DistrictId_195',
 'DistrictId_196',
 'DistrictId_198',
 'DistrictId_199',
 'DistrictId_200',
 'DistrictId_201',
 'DistrictId_202',
 'DistrictId_203',
 'DistrictId_204',
 'DistrictId_205',
 'DistrictId_206',
 'DistrictId_207',
 'DistrictId_208',
 'DistrictId_209',
 'DistrictId_210',
 'DistrictId_211',
 'DistrictId_212',
 'Ecology_2_A',
 'Ecology_2_B',
 'Ecology_3_A',
 'Ecology_3_B']

feature_names_pr = ['Price']

In [46]:
#Отделение массива для теста и убираем пустые значения 
resulttrain = newtest.query('Price >= 0')
resulttrain = resulttrain.loc[:,feature_names]
resulttrain[np.isnan(resulttrain)] = 0
resulttrain.head()

,Id,Price,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Social_1,...,DistrictId_207,DistrictId_208,DistrictId_209,DistrictId_210,DistrictId_211,DistrictId_212,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B
5000,14038,184966.930730,2.0,47.981561,29.442751,6.0,7,9.0,1969,33,...,0,0,0,0,0,0,0,1,0.0,0.0
5001,15053,300009.450063,3.0,65.683640,40.049543,8.0,7,9.0,1978,46,...,0,0,0,0,0,0,0,1,0.0,0.0
5002,4765,220925.908524,2.0,44.947953,29.197612,0.0,8,12.0,1968,34,...,0,0,0,0,0,0,0,1,0.0,0.0
5003,5809,175616.227217,2.0,53.352981,52.731512,9.0,8,17.0,1977,23,...,0,0,0,0,0,0,0,1,0.0,0.0
5004,10783,150226.531644,1.0,39.649192,23.776169,7.0,11,12.0,1976,35,...,0,0,0,0,0,0,0,1,0.0,0.0

In [47]:
#Отделение массива для теста и убираем пустые значения 
resulttest = newtest.query('Price != Price')
resulttest = resulttest.loc[:,feature_names]
resulttest[np.isnan(resulttest)] = 0
resulttest.head()

,Id,Price,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Social_1,...,DistrictId_207,DistrictId_208,DistrictId_209,DistrictId_210,DistrictId_211,DistrictId_212,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B
0,725,0.0,2.0,49.882643,33.432782,6.0,6,14.0,1972,11,...,0,0,0,0,0,0,0,1,0.0,0.0
1,15856,0.0,2.0,69.263183,0.000000,1.0,6,6.0,1977,6,...,0,0,0,0,0,0,0,1,0.0,0.0
2,5480,0.0,1.0,13.597819,15.948246,12.0,2,5.0,1909,30,...,0,0,0,0,0,0,0,1,0.0,0.0
3,15664,0.0,2.0,73.046609,51.940842,9.0,22,22.0,2007,23,...,0,0,0,0,0,0,0,1,0.0,0.0
4,14275,0.0,1.0,47.527111,43.387569,1.0,17,17.0,2017,2,...,0,0,0,0,0,0,0,1,0.0,0.0

In [48]:
#ЛЕC!

In [49]:
#Подготовка данных
X_test = resulttest.loc[:,feature_names_no_pr]
X_test.head()

,Id,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Social_1,Social_2,...,DistrictId_207,DistrictId_208,DistrictId_209,DistrictId_210,DistrictId_211,DistrictId_212,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B
0,725,2.0,49.882643,33.432782,6.0,6,14.0,1972,11,2748,...,0,0,0,0,0,0,0,1,0.0,0.0
1,15856,2.0,69.263183,0.000000,1.0,6,6.0,1977,6,1437,...,0,0,0,0,0,0,0,1,0.0,0.0
2,5480,1.0,13.597819,15.948246,12.0,2,5.0,1909,30,7538,...,0,0,0,0,0,0,0,1,0.0,0.0
3,15664,2.0,73.046609,51.940842,9.0,22,22.0,2007,23,4583,...,0,0,0,0,0,0,0,1,0.0,0.0
4,14275,1.0,47.527111,43.387569,1.0,17,17.0,2017,2,629,...,0,0,0,0,0,0,0,1,0.0,0.0

In [50]:
X_train = resulttrain.loc[:,feature_names_no_pr]
X_train.head()

,Id,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Social_1,Social_2,...,DistrictId_207,DistrictId_208,DistrictId_209,DistrictId_210,DistrictId_211,DistrictId_212,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B
5000,14038,2.0,47.981561,29.442751,6.0,7,9.0,1969,33,7976,...,0,0,0,0,0,0,0,1,0.0,0.0
5001,15053,3.0,65.683640,40.049543,8.0,7,9.0,1978,46,10309,...,0,0,0,0,0,0,0,1,0.0,0.0
5002,4765,2.0,44.947953,29.197612,0.0,8,12.0,1968,34,7759,...,0,0,0,0,0,0,0,1,0.0,0.0
5003,5809,2.0,53.352981,52.731512,9.0,8,17.0,1977,23,5735,...,0,0,0,0,0,0,0,1,0.0,0.0
5004,10783,1.0,39.649192,23.776169,7.0,11,12.0,1976,35,5776,...,0,0,0,0,0,0,0,1,0.0,0.0

In [51]:
y_train = resulttrain.loc[:,feature_names_pr]
y_train = np.array(y_train)
y_train

array([[184966.93072984],
       [300009.45006273],
       [220925.90852358],
       ...,
       [159143.8053701 ],
       [181595.3398081 ],
       [218714.0776153 ]])

In [52]:
from sklearn.ensemble import RandomForestRegressor as RF
model = RF(bootstrap=False, n_estimators=100, max_depth=10, random_state=42)

In [53]:
model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=False, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [54]:
y_pred = model.predict(X_test)

In [55]:
predictions = pd.DataFrame({
    'Id': X_test.Id,
    'Price': y_pred
})

In [56]:
predictions.head()

      Id          Price
0    725  164600.317695
1  15856  136372.727508
2   5480   97037.971025
3  15664  369546.321075
4  14275  142279.857317

In [57]:
predictions.to_csv('AStavnichiy_predictions.csv', sep=',', index=False, encoding='utf-8')

In [22]:

y_pred.size

5000